//layout of page


html, body {
    font-family: 'Calibri', 'Lato', sans-serif;
    color: #D2D2D2
}

.logo {
    font-size: $info-text-size;
    font-weight: 700;
}


.main_display {
    background-image: linear-gradient(to bottom right, #403D3F, #131313);
    // height: 50vh;
    min-height: 14rem;
    border-bottom: 1px solid $color-border;
    display: grid;
    grid-template-columns: minmax(20px, auto) minmax(120px, 500px) minmax(120px, 500px) minmax(20px, auto);
    grid-template-rows: 1.8rem 1.8rem auto auto;
    // @media (min-width: 600px) {
    //     grid-template-columns: auto auto;
    // }
    &__header {
        // height: 1.8rem;
        border-bottom: 1px solid $color-border;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    &__place {
        // height: 1.8rem;
        display: flex;
        justify-content: space-between;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4;
        &_time {
            margin: auto 0 auto auto;
            vertical-align: middle;
            display: inline;
            font-size: $info-text-size
        }
        &_form {
            // border: 1px solid red;
            margin: auto auto auto 0;
            &_button {
                padding: 4px 10px;
                border-radius: 5px;
                display: inline;
                background-color: $color-dark-bg;
                border: 1px solid $color-border;
                color: $color-gray1;
            }
            &_input {
                border: 1px solid $color-border;
                color: $color-gray1;
                width: 50%;
            }
        }
    }
    &__weather {
        // border: 1px solid red;
        // height: 50%;
        // width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;        
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
        @media (min-width: 600px) {
            grid-column-end: 2;
        }
        &_icon {
            height: 100%;
        }
        &_description {
            margin: 0rem auto 2rem auto;
            display: flex;
            flex-direction: column;;
            justify-content: space-around;
            // border: 1px solid red;
            width: 60%;
            max-width: 10rem;
            height: 3rem;
            @media (min-width: 600px) {
                flex-direction: row;
            }
        }
    }
    &__add_info {
        // border: 1px solid green;
        // height: 30%;
        min-height: 4.5rem;
        width: 90%;
        padding-top: 0.3rem;
        max-width: 14rem;
        margin: auto;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 4;
        display: flex;
        justify-content: space-around;
        @media (min-width: 600px) {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 3;
            // grid-column-end: 3;
        }
        // justify-content: center;
        &_block {
            border-radius: 0.5rem;
            width: 3.6rem;
            height: 3.6rem;
            background-image: linear-gradient(to bottom right, #9DEF41, #6BBD10);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_img {
                height: 60%;
                width: 60%;
            }
            &_display {
                color: $color-graphite1;
                font-size: $add_info-text-size;
                font-weight: 700;
            }
        }

    }
}


.weather_basic_info {
    // border: 1px solid red;
    // width: 90vw;
    min-width: 10rem;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem auto;
}

.info_text {
    font-size: $info-text-size;
    font-weight: 400;
    text-align: center;
    margin: auto;
    &--large_scrn {
        display: none;
    }
    &--temperature_main {
        font-size: 2.7rem;
        color: #FFFFFF;
        margin-right: 10%;
    }
}

.seven_days_container {
    background-color: $color-graphite-bg;
}

.seven_days_display {
    // background-color: #1C1C1C;
    // height: 50vh;
    max-width: 50rem;
    margin: auto;
    display: grid;
    // grid-template-columns: minmax(18%, 2.7rem) 27% 18% 18% 19%;
    grid-template-columns: 2.7rem 2fr 1fr 1fr 1fr;
    grid-template-rows: 2rem 2rem auto;
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;

    &__header {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        text-align: center;
        align-self: center;
        font-size: 0.9rem;
    }
    &__sub_header {
        // grid-area: sub_header;
        font-size: 0.7rem;
        text-align: center;
    }
    &__block{
        grid-column: 1 / 6;
        display: grid;
        // grid-template-columns: minmax(18%, 2.7rem) 27% 18% 18% 19%;
        grid-template-columns: 2.7rem 2fr 1fr 1fr 1fr;
        grid-column-gap: 0.2rem;
        // width: 94%;
        height: 2.7rem;
    }
    &__sub_block {
        // background-color: $color-dark-bg;
        width: 100%;
        height: 2.7rem;
        min-width: 2.7rem;
        justify-self: center;
        border: 1px solid $color-border;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        // &_date {
        //     // max-width: 2.7rem;
        //     // justify-self: right;
        // }
        &_header {
            font-size: 0.7rem;
            text-align: center;
            &--big {
                font-size: 1rem;
            }
        }
        &_image {
            height: 40%;
            // width: 30%;
            // color: white;
        }
        &_temperature {
            flex-direction: row;
            padding: 6px;
            &_values_container {
                display: flex;
                width: 2.5rem;
                // border: 1px solid red;
                flex-direction: column;
                justify-content: center;
            }
            // &_icon {
            //     width: 40px;

            // }
        }
    }

    // .seven_days_display__block_image {
    //     height: 30%;
    //     width: 30%;
    //     color: white;
    // }
    // &__block > h2 {
    //     font-size: 0.7rem;
    //     text-align: center;
    // }
}


