<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="main_display">
            <header class="main_display__header">
                <h1 class="logo">Weather-Check</h1>    
            </header>
            <section class="main_display__place">
                <form action="" class="main_display__place_search" id="search_form">
                    <button id="search_button">Search</button>
                    <input type="text" name="city" value="warsaw">
                    
                </form>
                <h2 class="main_display__place_time">time</h2>
            </section>
            
            <section class="main_display__weather">
                <!-- <h2>${date}</h2>
                <h2>Temperature: ${temperature}</h2>
                <h2>broken clouds</h2>
                <img src="http://openweathermap.org/img/wn/04n@2x.png" alt="">` -->
            </section>
        </section>
        <section class="seven_days_display">

        </section>
    </body>
</html>